# Byte-code files
*.pyc
__pycache__/

# Virtual environment
.venv/
env/
venv/

# IDE/Editor files
.idea/
.vscode/

# Build artifacts
dist/
build/

# Environment variables and secrets
.env
secrets.ini

# Logs
*.log

